@using Capstone.Web.Models
@model ParkModel

@{
    ViewBag.Title = "Park";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">

    <h2 class="parkName">@Model.ParkName</h2>
    <h2 class="quote">"@Model.InspirationalQuote" <br />- @Model.InspirationalQuoteSource</h2>
    <div id="parkDetailPage">
        <div class="parkImage">
            <img src="~/Content/img/parks/@(Model.ParkCode).jpg" />
        </div>
        <div class="parkDetail">

            <p>@Model.ParkName is a @Model.Climate park, opened in @Model.YearFounded in the state of @(Model.State). At an elevation of @(Model.ElevationInFeet.ToString("N0")) feet, it features @Model.MilesOfTrail.ToString("N0") miles of trails, @Model.NumberOfCampSites.ToString("N0") campsites and covers @Model.Acreage.ToString("N0") acres. The park draws @Model.AnnualVisitorCount.ToString("N0") visitors per year and is host to @Model.NumberOfAnimalSpecies.ToString("N0") species of animals.</p>
            <div class="detailDescription"><p>@Model.ParkDescription</p></div>
            <p><strong>Entrance Fee: @Model.Entryfee.ToString("C")</strong></p>
        </div>
    </div>
    <div>
        <h1>Weather Forecast</h1>
        <div>
            @{for (int i = 0; i < 5; i++)
                { <h2>Day @Model.FiveDayForecastvalue[i]</h2>
                   <p>High: @Model.High[i]</p>
                <p>Low: @Model.Low[i]</p>
                <p>@Model.Forecast[i]</p>
                    if(@Model.Forecast[i]=="snow")
                    {
                        <p>Weather Advice: Pack Snowshoes</p>
                    }
                    else if(@Model.Forecast[i]=="rain")
                    {
                        <p>Weather Advice: Pack rain gear and wear waterproof shoes</p>
                    }
                    else if (@Model.Forecast[i] == "thunderstorms")
                    {
                        <p>Weather Advice: Seek shelter and avoid hiking on exposed ridges</p>
                    }
                    else if (@Model.Forecast[i] == "sunny")
                    {
                        <p>Weather Advice: Pack sunblock</p>
                    }

                    if(@Model.High[i] > 75)
                    {
                        <p>Weather advice: Bring an extra gallon of water</p>
                    }
                    if(@Model.High[i] - @Model.Low[i] > 20)
                    {
                        <p>Weather advice: Wear breathable layers</p>
                    }
                    if(@Model.Low[i] <20)
                    {
                        <p>Weather advice: Know the dangers of exposures to frigid temperatures</p>
                    }
                }
            }
        </div>
    </div>

</div>